    .top{
        position:fixed;
        width: 100%;
        padding: 40px 0;
        top: 0;
        left: 0;
        background:white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 5;
        }       

        *{
            margin: auto;
            padding: 0;
            width: 97%;
            box-sizing: border-box;
        }      
        header{                   
            color: white;
            background-color:white;     
        }
        header img{
            position: relative;
            width: 300px;
            padding-top:120px;
            padding-bottom: 20px;
        }
        header h2{
            display: inline;
        }
        header .up{
            margin: auto;
        }
        header .up h2{
            font-size: 40px;
        }
        nav{
            padding-top: 12px;
            padding-bottom: 30px;
            margin: 0 auto;
            background-color: #21409A;
            height: 40px;
            border-radius: 5px;
        }
        nav ul{
            margin: 0;
            height: 50px;
        }
        nav li{
            display: inline;
            margin: 20px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        nav li a{
            text-decoration: none;
            color:white ;
            font-size: 16px;
            text-align: center;
        } 
        nav li a:hover{
            color: brown;
        }  
        .nav2{
            padding-top: 12px;
            padding-bottom: 30px;
            margin: 0 auto;
            background-color: #eeebeb;
            height: 40px;
            border-radius: 5px;
        }
        .nav2 ul{
            margin: 0;
            height: 50px;
        }
        .nav2 li{
            display: inline;
            margin: 20px;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        .nav2 li a{
            text-decoration: none;
            color:black ;
            font-size: 15px;
            text-align: center;
        }
        .nav2 li a:hover{
            color: #21409A;
        }
        #content{
            
            width: 97%;
            height: 250px;
            background-color:white;
        }
        #content .first-content{
            display: flex;
            width: 100%;
            height: 220px;
        }

        #content .first-content .anak{
            width: 20%;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: italic;
            margin: 0 15px 0 0;
            padding: 20px 0;            
        }
        #content .first-content .anak p:hover{
            color:rgb(36, 94, 201);
            padding-top: 5%;
        }
        .anak img{  
            border-radius: 7px;
            width: 220px;
        }
        .anak img {
            transform-origin: 40% 65%;
            transition: transform 0.5s, filter 0.2s ease-in-out;
            filter: brightness(100%);
        }
          
          /* The Transformation */
          .anak:hover img {
            filter: brightness(100%);
            transform: scale(1.1);
        }
        .isi{
            margin-left: 20px;
            border-radius: 8px;
            overflow: hidden;
            background-color: blue;
            height: 600px;
            width: 900px;    
        }
        .isi-img{
            box-shadow: rgba(0, 0, 0, 0.35) 0px -120px 36px -10px inset;
            transition: all .5s;
            cursor: pointer;
            border-radius: 8px;
            width: 100%;  
            height: 100%;
            background-image: url("fuji.jpg");  
        }
        .img-wrapper{
            height: 500px;
            width: 900px;
            overflow: hidden;
        }
        .isi-img img{
            width: 500px;
        }
        .isi-img:hover, .isi-img:focus{
               transform: scale(1.1);
        }
        .isi-title{
            position: absolute;
            margin-top: -180px;
            margin-left: 20px;
            font-family: Gadugi;
        }
        .isi-title .text-isi{
            font-weight: 700;
            font-size: 30px;
            color:white;
        }
        .isi-title .isi-date{
            font-weight: 700;
            font-size: 20px;
            color:white;
        }
        .text-bottom{
            margin-left: 20px;
            position: absolute;
            margin-top: -90px;
            font-size: 20px;
            font-family: Gadugi;
            color: white;

        }
        .text-left{
            position: absolute;
            margin-top: -55px;
            float: left;
            margin-left: 25px;
            font-size: 15px;
            font-family: Gadugi;
            color: white;
            width: 450px;
        }
        .text-right{
            position: absolute;
            margin-top: -55px;
            float: right;
            margin-left: 370px;
            font-size: 15px;
            font-family: Gadugi;
            color: white;
            margin-left: 490px;
            width: 450px;
        }






        .footer{
              height: 1000px;
        }